.slider-container{
    width: 80vw;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
    right: 10px;
  }
  
  .prev {
    left: 10px;
  }



img {
    position: absolute;
    max-width: 80vw;
    max-height: 80vh;
    margin-top: 50px;
  }

.prev:hover{
    background-color: antiquewhite;
}

.next:hover{
    background-color: antiquewhite;
}