.questionnaire-container{
    display: flex;
    margin: auto;
    margin-top: 200px;
    width: 15%;
    flex-direction: column;
    align-items: center;
    border: 2px solid beige;
    background-color: rgba(119, 105, 113, 0.103);
}

.summary{
    width: 20%;
    margin: auto;
    margin-top: 20px;
}